<header>
    <div class="title-container">
        <img src="/images/favicon.png" alt="文学阁标志" class="logo">
        <h1>文学阁</h1>
    </div>
    <h2>
        <a href="/index.html" class="nav-zone" title="The Literary Pavilion">
            <img src="/images/favicon.png" alt="文学阁标志" class="icon">
            <span>The Literary Pavilion</span>
        </a>
        <span class="divider"> | </span>
        <a href="/texts/index.html" class="nav-zone" title="Text Library">
        <span class="emoji">📚</span>
        <span>Text Library</span>
        </a>
    </h2>
</header>